[data-theme='1'] {
    --color: #000000;
    --background: #FFFFFF;
}

[data-theme='2'] {
    --color: #000000;
    --background: #DDEEFF;
}

[data-theme='3'] {
    --color: #FFFFFF;
    --background: #212A34;
}
[data-theme='4'] {
    --color: #090505;
    --background: #01a611;
}
[data-theme='5'] {
    --color: #bb1515;
    --background: #bd971c;
}
[data-theme='6'] {
    --color: #2e3cda;
    --background: #dc0375;
}
[data-theme='7'] {
    --color: #FFFFFF;
    --background: #212A34;
}

html {
    background-color: var(--background);
    color: var(--color);
}

.select {

}
