.input:focus {
    border: 1px solid #D1D1D1;
}



.input {
    width: 21rem;
    height: 2rem;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding-left: 12px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
}

.superInput {
}

.errorInput {
    border: 1px solid #CC1439
}

.errorInput:focus {
}

.error {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CC0000;
    margin-top: 7px;
}
